.header {
  padding: 0 1em;
}

.channel {
  display: inline-block;
  color: #8560a9;
  padding: 0.2em 0.8em;
  border: solid #8560a9 1px;
  border-radius: 1em;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1.5em;
}

.title {
  color: #453257;
  font-weight: 400;
}

.userPicture {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}

.userDetail {
  display: inline-block;
  margin-bottom: 1.5em;
}

.username {
  color: #67616d;
  margin-bottom: 0.5em;
}

.published {
  color: #bababa;
}
