.description {
  color: #67616d;
  padding-top: 1em;
  padding-bottom: 1em;
}

.startTime {
  color: #aecb4f;
  margin-top: 1em;
  text-align: center;
}

.startTime > * {
  margin: auto;
  font-size: 0.8em;
}

.startTime > *:first-child {
  font-size: 2.5em;
  text-align: center;
  margin-right: 0.1em;
}

.location,
.address {
  color: #67616d;
}

.location {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.address {
  margin-bottom: 1em;
}

.map {
  width: 100%;
  border-radius: 1em;
  margin-bottom: 1em;
}

.users {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  align-items: center;
}

.userList {
  margin: 1em 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  justify-items: center;
  align-items: center;
  background: #8560a9;
}

.join {
  background: #d5ef7f;
  padding: 1em 4em;
  color: #788c36;
}

.headerTitle {
  color: #8560a9;
  font-size: 1.3em;
  margin-top: 1em;
}

.headerTitle::before {
  content: '';
  position: relative;
  display: inline-block;
  background: #8560a9;
  width: 0.25em;
  height: 1.1em;
  border-radius: 0.2em;
  margin-right: 0.2em;
  top: 0.1em;
}

.marginSide {
  margin-right: 1em;
  margin-left: 1em;
}

.paddingSide {
  padding-right: 1em;
  padding-left: 1em;
}

.sections {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sectionsSeparator {
  border-right: solid #e8e8e8 1px;
}

.borderBottom {
  border-bottom: solid #e8e8e8 1px;
}
