.header {
  width: 100vw;
  height: 3em;
}

.header div {
  height: 100%;
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.content {
  width: 100vw;
  height: calc(100vh - 3em);
  overflow: auto;
}

.content > div {
  padding: 1em;
}
